#description_card{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#speakbutton{
    margin:30px;
    height: 30px;
    width: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    border-radius: 8px;
    transition-duration: 0.2s;
}
#speakbutton:hover{
    transform: scale(1.1);
}
#previousbutton{
    height: 30px;
    width: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    border-radius: 8px;
    transition-duration: 0.2s;
}
#previousbutton:hover{
    transform: scale(1.1);
}