body{
    background: black;
}
#searchbutton{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    transition-duration:0.2s;
    border-radius: 7px;
}
#searchbutton:hover{
    transform: scale(1.12);
}
.mainpage_card{
    transition-duration: 0.2s;
}
.mainpage_card:hover{
    transform: scale(1.1);
}
#card_button{
    transition-duration: 0.2s;
}
#card_button:hover{
    transform: scale(1.1);
}

#textbox{
    text-align: center;
    position: relative;
    background-color: black;
    margin-top: -26.5px;
    margin-bottom:-20px;
    border-radius: 8px;
}
#textbox::after{
    content: '';
    position: absolute;
    height: 600px;
    width:50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0deg);
    background:yellow;
    z-index: -1;
    padding: 3px;
    animation: 2s move infinite;
}

@keyframes move {
    100%{
        transform:translate(-50%,-50%) rotate(180deg);
    }
}
#top_image:hover{
    animation: 3s image_animation;
}
@keyframes image_animation {
    50%{
        transform:rotateY(180deg) scale(1.1) 
    }
    100%{
        transform:rotateY(0deg) scale(1) 
    }

}
